/* Custom Stylesheet */
body {
  position: relative;
  padding-top: 50px;
}

.navbar-brand {
  font-weight: bolder;
}

#one {
  background-color: #CB48B7;
}

#me {
  max-width: 100%;
  height: auto;
}

#landing {
  max-width: 100%;
  height: auto;
}

#two {
  background-color: #a9e4ef;
}

.logos {
  font-size: 6rem;
}

#three {
  background-color: #331e38;
}